html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: black;
    font-family: sans-serif;
}

/*AVISO ROTACIÓN */
#rotateWarning {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    z-index: 100;
    padding: 20px;
}

/*FONDO */
#bgVideo {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

/*OVERLAY */
#overlayVideo {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale();

    width: 1024px;
    height: 768px;

    object-fit: cover;

    border-radius: 16px;
    z-index: 10;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);

    opacity: 0;
    transition: all 0.5s ease;
}

/*OCULTO */
.hidden {
    display: none;
}

/*FORZAR LANDSCAPE */
@media (orientation: portrait) {

    #bgVideo,
    #overlayVideo {
        display: none;
    }

    #rotateWarning {
        display: flex;
    }
}

#bgVideo {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.8s ease, filter 0.8s ease;
}

/* estado de transición */
.transitioning {
    opacity: 0;
    filter: blur(20px);
}

/* overlay visible */
#overlayVideo.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}